.container {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 1500px;
  height: 800px;
}

.todo-list {
  width: 40%;
  border: 1px solid green;
  border-radius: 10px;
  overflow-y: scroll;
}

.todo-detail {
  width: 60%;
  border: 1px solid red;
  border-radius: 10px;
}
